<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Images/bike.png" type="image/imge_header">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
   
    <link href="~/fonts/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <title>@ViewBag.Title :: Service Booking System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (!Request.IsAuthenticated && Session["userEmail"] == null)
    {
        Response.Redirect("/Customer/Login");
    }
    <div id="navig" class="navbar navbar-dark navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a href="/Customer/Dashboard"><h4 style="font-family:'Agency FB'; font-weight:bolder; font-size:28px">ServiceBookingApp</h4></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="@ViewBag.Home">@Html.ActionLink("Home", "Dashboard", "Customer")</li>
                    <li style="@ViewBag.Index">@Html.ActionLink("Add Vehicle", "addVehicle", "Customer")</li>
                    <li style="@ViewBag.Create">@Html.ActionLink("Book Appointment", "bookAppointment", "Customer")</li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Customer/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container">
        @RenderBody()
        <br /><br />
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/bootstrap")
    
    <script>
        setTimeout(function () {
            $('#nofication').fadeOut('fast');
        }, 4000);
    </script>
    @RenderSection("scripts", required: false)


</body>
</html>
